body {
    font-family: system-ui;
    margin: 0;
    touch-action: pan-x pan-y;
    display: flex; flex-direction: column; justify-content: center;
}
column { display: flex; flex-direction: column; justify-content: center; }
row    { display: flex; flex-direction: row;    justify-content: center; }
list   { display: flex; flex-direction: column; justify-content: center; height: 100vh; }
lr     { display: flex; flex-direction: row;    justify-content: center; }
ld     { display: flex; flex-direction: column; justify-content: center; }
svg    { margin: 8px; }
button { height: 44px; }

@keyframes slide-in        { from { opacity: 0; translate: 50px; } }
@keyframes slide-out       { to   { opacity: 0; translate: -50px; } }
@keyframes zoom-fade-in    { from { opacity: 0; scale: 1.2; } }
@keyframes zoom-fade-out   { to   { opacity: 0; scale: .8; } }
::view-transition-group(*) { animation-duration: 300ms; animation-timing-function: cubic-bezier(0.2, 0.0, 0, 1.0); }
